NEXT_PUBLIC_MAGIC_API_KEY=
NEXT_PUBLIC_BLOCKCHAIN_NETWORK=ronin
NEXT_PUBLIC_REOWN_PROJECT_ID=
NEXT_PUBLIC_THEORY_CRAFT_URL=http://localhost:5000
NEXT_PUBLIC_TDK_API_URL=https://tdk-api.spellcaster.lol
NEXT_PUBLIC_COVENANT_CONTRACT_ID=
